<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>登录</title>
    <!-- LayUI的核心CSS文件 -->
    <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
    <!-- LayUI的核心CSS文件 -->
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css"/>
    <!-- LayUI的核心JS文件（采用模块化引入） --> 
    <script src="layui/layui.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
 
<form style="width: 400px; margin: 100px auto" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">用户名</label>
        <input type="text"
               class="form-control"
               id="exampleInputEmail1"
               aria-describedby="emailHelp"
               name="username"
        >
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">密码</label>
        <input type="password"
               class="form-control"
               id="exampleInputPassword1"
               name="password"
        >
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">记住我</label>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>

</form>
<!-- 你的 HTML 代码 -->
<!-- LayUI的核心JS文件 -->
<!-- <script src="./layui/layui.js"></script>
<script>
    layui.use(['layer', 'form'], function(){
      var layer = layui.layer,
      	  form = layui.form;

      layer.msg('Hello World');
    });
</script>  -->
</body>
</html>
